<head>
    <meta charset="utf-8">
    <title>Angular Application Real-Time</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
 <div>

    <button class="btn btn-info my-3 mx-4" (click)="addcircle()"> Add Circle</button>
    <button class="btn btn-secondary my-3" (click)="addsquare()"> Add Square</button>
    <br><br>
    <div>
        <div class="cir mx-2" *ngFor="let x of circle"></div>
        <br><br>
        <div class="squ mx-2" *ngFor="let x of square"></div>
    </div>
</div>
  </body>
