.cir{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(129, 186, 232),rgb(228, 234, 236));
    border: 2px solid;
    display: inline-block;
}
.cir:hover{
    background-image: linear-gradient(rgb(46, 99, 141),rgb(10, 84, 109));
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.431);
}

.squ{
    width: 100px;
    height: 100px;
   background-image: linear-gradient(rgb(52, 237, 42),rgb(184, 245, 202));
    border: 2px solid;
    display: inline-block;
}
.squ:hover{
    background-image: linear-gradient(rgb(40, 114, 20),rgb(27, 155, 87));
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.357);
}