.cir{
    width: 100px;
    height: 100px;
    background-color: rgba(99, 136, 137, 0.418);
    margin: auto;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.447);
}
.main{
    margin: auto;
    text-align: center;
}
label{
    padding: 40%;
}